body{
    background-color:#2B2B2B;
    
}
@font-face {
    font-family: 'Space Mono';
    src: url(fonts/SpaceMono-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Work';
    src: url(fonts/WorkSans-Regular.ttf);
  }
  
  @media only screen and (max-width: 767px) {
    .s1m img {
      width: 315px;
      height: 315px;
    }
  }
  
  @media only screen and (min-width:768px) {
    .s1 img {
      width: 510px;
      height: 510px;
    }
  }
  
  body {
    max-width: 100%;
  }
  
  .navbar {
    background-color: #2B2B2B;
  }
  .button2 img{width: 20px;
    height: 20px;
  margin-right:7%}
  
  
  .button2 {
    background-color: #A259FF;
    border-radius: 20px;
    width: 152px;
    height: 60px;
    margin-top:-6%;
    text-decoration: none;
    font-family: 'Work';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
  }
  
  .button2:hover {
    transform: scale(0.8);
    transition: 0.5s;
    color: #FFFFFF;
  }
  
  .button1 {
    border: none !important;
    background: transparent;
  }
  
  
  .button1:hover {
    transform: scale(0.8);
    transition: 0.5s;
  }
  
  .nav1 .nav-item:hover {
    transform: scale(0.8);
    transition: 0.5s;
  
  }
  .button3:hover{
    transform: scale(0.8);
    transition: 0.5s;
  
  }
  .navbarnav {
    justify-content: flex-end;
  }
  
  .nav1 .a {
    padding: 20px 15px;
  
  }
  
  .nav1 .nav-item a {
    font-family: 'Work';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
  }
  
  .nav1 .navbar-brand {
    font-family: 'Space Mono';
    font-style:normal;
    font-weight:600;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-left:3%;
  }
  
  .navbar-brand img{margin-top:-2%}
  
  .s1 h3 {
    font-family: Work;
    font-style: normal;
    font-weight: 600;
    font-size: 67px;
    line-height: 110%;
    /* or 74px */
  
    display: flex;
    align-items: center;
    text-transform: capitalize;
  
    /* White */
  
    color: #FFFFFF;
  
  }
  
  .s1 .s1span {
    font-family: 'Work';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 80%
  }
  
  .button3 img {
    width: 20px;
    height: 20px;
  }
  
  .button3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 12px;
  
    width: 224px;
    height: 60px;
  
    background: #A259FF;
    border-radius: 20px;
  
  }
  
  @media only screen and (max-width:768px) {
    .nav1 .navbar-nav {
      display: flex;
      margin-right: auto;
      margin-left: auto;
      justify-content: right;
  
    }
  
    .button2 {
      justify-content: center;
      display: flex !important;
      align-items: center;
      margin-left:4.5%
    }
  
    .nav1 .a {
      margin-inline-start: auto;
    }
  
    .s1m {
      justify-content: center;
      display: grid !important;
    }
  
    
  }
  
  .button2{
    border:none !important;
    
  }
  
  @media (min-width: 769px) {
    .navbar .navbar-collapse {
      display: block !important;
    }
    
    .navbar .navbar-toggler {
      display: none;
    }
  }
  
  .s1{
    
      background-color: transparent;
      display: flex !important;
      gap: 30px;
      height: auto;
      position: relative;
      width: 80% !important;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      padding: 80px 195px;
      position: relative;
  }
  
  .button3{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  width: 224px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  border:none;
  font-family: 'Work';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  }
  
  .row1span{
    font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
  }
  
  .s1 p{
  font-family: 'Work';
  font-style: normal;
  font-weight: 400;
  font-size: 23.99px;
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 60%;
  }